body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", sans-serif;
}

/* LEFT SECTION */

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./images/Nokia-8210-edited.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 900px;
  min-width: 350px;
  margin-left: 60px;
}

.grid {
  min-width: 140px;
  min-height: 140px;
  max-width: 140px;
  max-height: 140px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 240px;
  border-left: 45px solid #040404;
  border-right: 45px solid #040404;
  border-bottom: 20px solid #040404;
  border-top: 20px solid #040404;
  border-radius: 20px;
}
.grid div {
  border-radius: 1px;
  margin: 0;
  padding: 0;
  min-height: 14px;
  min-width: 14px;
}
.apple {
  background-image: url("./images/apple.png");
}
.snake {
  background-image: url("./images/Snake-pixel.png");
}

/* NUM PAD CONTROLS */

.mobile-play-button {
  margin-top: 20px;
  margin-left: 15px;
  background-color: #040404;
  border: transparent;
  border-radius: 90px;
  color: #a4a8a7;
  width: 120px;
  display: none;
  cursor: pointer;
}

.number-control {
  background-color: transparent;
  border: transparent;
  width: 80px;
  color: transparent;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 135px;
  max-height: 135px;
  margin-top: 135px;
  margin-left: 15px;
}

.left-and-right-buttons-div {
  display: flex;
  justify-content: space-between;
  min-width: 290px;
  max-width: 290px;
  margin-top: -10px;
}

.left-button,
.right-button {
  height: 38px;
}

/* RIGHT SECTION */

.texts-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 80px;
  width: 350px;
  text-align: center;
}

.game-over-text {
  color: red;
}

button {
  font-family: "Press Start 2P", cursive;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.difficulty-buttons {
  margin-bottom: 20px;
}

#easy-button {
  background-color: #92cd41;
}

#easy-button:hover {
  background-color: #76c442;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}

#easy-button:active {
  background-color: #76c442;
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}

#medium-button {
  background-color: #f7d51d;
}

#medium-button:hover {
  background-color: #f2c409;
  box-shadow: inset -4px -4px 0px 0px #e59400;
}

#medium-button:active {
  background-color: #f2c409;
  box-shadow: inset 4px 4px 0px 0px #e59400;
}

#hard-button {
  background-color: #e76e55;
}

#hard-button:hover {
  background-color: #ce372b;
  box-shadow: inset -4px -4px 0px 0px #8c2022;
}

#hard-button:active {
  background-color: #ce372b;
  box-shadow: inset 4px 4px 0px 0px #8c2022;
}

.play-button:hover {
  background-color: lightgray;
  color: black;
  box-shadow: inset -4px -4px 0px 0px darkgray;
}

.play-button:active {
  background-color: lightgray;
  box-shadow: inset 4px 4px 0px 0px darkgray;
}

.high-score-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: dashed 5px;
}

li {
  padding: 1px;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  body {
    min-width: 350px;
  }

  .background {
    margin-left: 0px;
    margin-right: 0px;
  }

  .mobile-play-button {
    display: inline;
  }

  .control-buttons {
    margin-top: 85px;
  }

  .texts-and-buttons {
    display: none;
  }
}
